/* Stylesheet for Landing Page */

* * * {
    outline: solid;
    outline-color: orange;
}

html {

}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    padding: 12px
}

a {
  padding: 12px;
}

main {
    display:flex;
    flex-direction: column;
}

.hero ,footer {
    background-color: #1f2937;
}

.hero {
    display: flex;
    padding: 24px;
}

#heromain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroleft, .heroright {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


.heroright {
    background-color: grey;
    margin: 24px;
    flex: 1 0 auto;
    padding: 60px;
}

.secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

button, .calltoaction {
    background-color: #3882F6;
    /* margin: 50px 100px; */
}

.btn1, .btn2 {
    border-radius: 25px;
}

.action {
    color: white;
}

.information {

}

.infoheader {
    display: flex;
    justify-content: center;
}
.infocards {
        display: flex;
        justify-content: space-evenly;
        min-height: 250px;
}

.calltoaction {
    margin: 50px 100px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 100px;
}

.quoteauthor {
    color: gray;
    margin-left: auto;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 32px;
}

